/* кастомные свойства */
:root {
  --accent-color: #2196f3;
  --main-font: "Roboto", "Raleway", sans-serif;
  --secondary-font: ;
}

/* убираем в списке маркеры */
.list {
  list-style: none;
}

/* убираем в сылках подчеркивание */
.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  color: #212121;
  letter-spacing: 0.03em;
}

/* =========COMPONENTS============= */
.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: black;
}

.accent-logo {
  color: #2196f3;
}

.btn {
  cursor: pointer;
}
/* ========END COMPONENTS=========== */

/* ===========HEADER=============== */
/* шрифт навигация сылки */
.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--accent-color);
}

/* шрифт навигация сылки контактов */
.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: #757575;
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}
/* ======END HEADER============= */
/* MAIN */
/* ==========HERO=================== */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: ;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
}
/* =============END HERO========= */

/* =========FEATURES============ */
.features-menu-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-menu-text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
/* ==========END FEATURES========== */

/* ============ACTIVITY============ */
.aktivity-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* TEAM */
.team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-menu-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-menu-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #757575;
}
/* =======END ACTIVITY============= */

/* FOOTER */
.contact-menu-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.contact-menu-link:hover,
.contact-menu-link:focus {
  color: #2196f3;
}
/* ======END FOOTER=============== */

/* =======PORTFOLIO================ */
/* =========PORTFOLIO BUTTON======= */
.portfolio-button-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
}

.portfolio-button-btn:hover,
.portfolio-button-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
}
/* =====END PORTFOLIO BUTTON===== */

/* =====PORTFOLIO IMAGE===========*/
.portfolio-image-menu-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-image-menu-text {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1.87;
  color: #757575;
}
/* ======END PORTFOLIO============= */
